body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.01em;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  width: 100%;
  margin-right: auto;
}

///////////////////////////////

// Border-radius
@mixin border-b {
  border-radius: 30px;
}
